<div class="span8 offset1 main">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">My WIPs</a>
    </li>
    <li>
      <a href="#api/projects/new">New Project</a>
    </li>
  </ul>


  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>Title</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Completion date</strong></th>
      </tr>
    </thead>
    </tbody>
  </table>
</div>