<div class="span6 offset3">
  <h2>sign up</h2>

  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="user_username">username</label>
    <input 
      type="text" 
      name="user[username]" 
      id="user_username"
      value="<%= @user.username %>">
    <br>

    <label for="user_email">email</label>
    <input 
      type="text" 
      id="user_email"
      name="user[email]">
    <br>

    <label for="user_password">password</label>
    <input 
      type="password" 
      id="user_password"
      name="user[password]">
    <br>

    <input type="submit" value="sign up">
  </form>
</div>