<div class="span4">
  <h2>sign up</h2>

  <form action="<%= users_url %>" method="post" class="form-horizontal">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="control-group">
      <label for="user_username">username</label>
      <input 
        type="text" 
        name="user[username]" 
        id="user_username"
        value="<%= @user.username %>">
    </div>

    <div class="control-group">
      <label for="user_email">email</label>
      <input 
        type="text" 
        id="user_email"
        name="user[email]">
    </div>

    <div class="control-group">
      <label for="user_password">password</label>
      <input 
        type="password" 
        id="user_password"
        name="user[password]">
    </div>

    <input type="submit" value="sign up" class="btn">
  </form>
</div>