<div id="content" class="span8">
  <ul class="projects"></ul>

  <% if logged_in? %>

    <script type="text/javascript">
      $(document).ready(function(){
        Wipsnickit.initialize();
      });
    </script>
  
  <% else %>

    <%= render partial: "shared/log_in" %>
    <%= render partial: "shared/sign_up" %>

  <% end %>
</div>
