<% if current_user %>
  <script type="text/javascript">
    $(document).ready(function(){
      Wipsnickit.initialize();
    });
  </script>
<% end %>

<div id="content">
  <%= render partial: "shared/log_in" %>
  <%= render partial: "shared/sign_up" %>
</div>